body, html {
    width: 100%;
    height: 100%;
    background-color: #efefef;
    font-family: 'Roboto' !important;
}

.MuiCardHeader-title {
    font-size: 1em !important
}

.MuiCardHeader-subheader {
    font-size: 0.7em !important
}

.MuiCardContent-root {
    min-height: 100px;
}

button {
    border: 1px solid #cacaca;
    background: white;
    padding: 10px;
    border-radius: 10%;
    font-family: 'Roboto';
    text-transform: uppercase;
    box-shadow: 4px 3px 5px -4px #000;
    cursor: pointer;
}